<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838033109119-a5elmpo1lv1tc844728vbth75v4t1c5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838033109119-a5elmpo1lv1tc844728vbth75v4t1c5d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>838033109119-kibe5hltmaip0v948bm4s2953rtntn30.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAnlfqY2oNqafie7nd7ObzeZ5nkbvEQv_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>838033109119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>soft.work.softworkTcc</string>
	<key>PROJECT_ID</key>
	<string>softworktcc</string>
	<key>STORAGE_BUCKET</key>
	<string>softworktcc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838033109119:ios:068d3a4f9346ec5e240f4a</string>
	<key>DATABASE_URL</key>
	<string>https://softworktcc-default-rtdb.firebaseio.com</string>
</dict>
</plist>